services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: {{ proto_name }}
      POSTGRES_USER: {{ proto_name }}
      POSTGRES_PASSWORD: {{ proto_name }}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
